# Python:
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение:
venv/
env/
ENV/
.venv/

# Файлы IDE (PyCharm, VSCode):
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Статические файлы, собранные collectstatic
staticfiles/
node_modules/

# База данных SQLite
db.sqlite3

# Логи
*.log

# Файлы composed миллисекундные
*.pot
*.mo

# Любые файлы ОС (Windows):
Thumbs.db
.DS_Store

# Файлы, которые может генерировать Django (секретные ключи, кэш):
local_settings.py
